* {
    background-color: #000;
    font-family: sans-serif;
     color: #fff;
     user-select: none;
 }
 
 .topnav {
   background-color: cornflowerblue;
   overflow: hidden;
 }
 
 .topnav a {
   float: left;
   color: #fff;
   text-align: center;
   padding: 12px 18px;
   text-decoration: none;
   font-size: 28px;
   background-color: cornflowerblue;
 }
 
 .topnav a:hover {
     text-shadow: -1px 0px 1px #fff, 0px -1px 1px #fff, 1px 0px 1px #fff, 0px 1px 1px #fff;
 }
 
 body {
     margin: 0;
 }
 
 .center {
     text-align: center;
 }
 
 h2 {
     font-size: 24px;
 }
 
 p {
     font-size: 24px;
 }
 
 input {
     size: 24px;
 }
 
 #door button {
     margin-top: 90px;
     border: none;
     color: white;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 24px;
     top: 75%;
     margin-left: 15px;
     margin-right: 15px;
 }
 
 #bird button {
     border: none;
     border-color: #fff;
 }
 
 #buyfood {
     border-radius: 18px;
     background-color: #fff;
     color: #000;
     font-size: 32px;
     padding: 16px;
 }
 
 .break {
     color: #000;
     font-size: 18px;
 }
 
 footer {
     background-color: #000;
     padding: 1px;
     position: absolute;
     bottom: 0;
     width: 100%;
     overflow: hidden;
 }
 
 footer p {
     background-color: black;
     font-size: 16px;
 }
 
 footer a {
     color: black;
     background-color: black;
     font-size: 16px;
 }
 
 #message {
     color: red;
 }
 
 #hidden {
     border: none;
     color: red;
     padding: 200px;
     background-color: black;
     font-size: 36px;
     cursor: help;
 }
 
 #playagain {
     margin-top: 15px;
     border-radius: 18px;
     background-color: #fff;
     color: #000;
     font-size: 32px;
     padding: 16px;
 }